In [1]:
'''Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
Q1. Write a code to print the data present in the second row of the dataframe, df.'''

'Consider following code to answer further questions:\nimport pandas as pd\ncourse_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]\nduration = [2,3,6,4]\ndf = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})\nQ1. Write a code to print the data present in the second row of the dataframe, df.'

In [77]:
import pandas as pd

course_name = ["Data Science","Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" :["Data Science","Machine Learning", "Big Data", "Data Engineer"], "duration" : [2,3,6,4]})

In [78]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [79]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [80]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [81]:
df.loc[1,['course_name','duration']]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [82]:
'''Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?'''

'Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?'

In [83]:
'''iloc takes inbuilt index of python dataframe while loc takes named data of the python data frame'''

'iloc takes inbuilt index of python dataframe while loc takes named data of the python data frame'

In [84]:
'''Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)'''

"Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df\nthen find the output for both new_df.loc[2] and new_df.iloc[2].\nDid you observe any difference in both the outputs? If so then explain it.\nConsider the below code to answer further questions:\nimport pandas as pd\nimport numpy as np\ncolumns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']\nindices = [1,2,3,4,5,6]\n#Creating a dataframe:\ndf1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)"

In [85]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [86]:
'''Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’'''

'Q4. Write a code to find the following statistical measurements for the above dataframe df1:\n(i) mean of each and every column present in the dataframe.\n(ii) standard deviation of column, ‘column_2’'

In [87]:
df1.mean()

column_1    0.460475
column_2    0.468176
column_3    0.686348
column_4    0.325014
column_5    0.385828
column_6    0.525528
dtype: float64

In [88]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.012590  0.503730  0.782460  0.059941  0.581435  0.112221
2  0.758603  0.261909  0.772853  0.559766  0.605415  0.502070
3  0.227006  0.536784  0.918617  0.158470  0.752899  0.977897
4  0.835262  0.643295  0.064358  0.570479  0.072094  0.578527
5  0.519033  0.472945  0.987606  0.076480  0.092705  0.110532
6  0.410357  0.390390  0.592192  0.524947  0.210423  0.871920

In [89]:
df1['column_2'].std()

0.13058144378317646

In [90]:
'''Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.'''

'Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the\nmean of column, column_2.\nIf you are getting errors in executing it then explain why.'

In [91]:
df1['column_2'].replace({0.673299:'nitin',0.768025:'Sinha',0.029452:'pwskils',0.254252:'Datascience',0.730223:'python',0.215223	:'sql'	},inplace=True)

In [92]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.012590  0.503730  0.782460  0.059941  0.581435  0.112221
2  0.758603  0.261909  0.772853  0.559766  0.605415  0.502070
3  0.227006  0.536784  0.918617  0.158470  0.752899  0.977897
4  0.835262  0.643295  0.064358  0.570479  0.072094  0.578527
5  0.519033  0.472945  0.987606  0.076480  0.092705  0.110532
6  0.410357  0.390390  0.592192  0.524947  0.210423  0.871920

In [93]:
df1['coloumn_2']=df['coloumn_2'].replace('nitin','Sinha','pwskils','Datascience','python','sql'	)

KeyError: 'coloumn_2'

In [94]:
'''Q6. What do you understand about the windows function in pandas and list the types of windows
functions?'''

'Q6. What do you understand about the windows function in pandas and list the types of windows\nfunctions?'

In [95]:
'''window function works on performing the commanded opertion on the desired row with a commanded range or window.
types of window function are: Rolling function, Expanding function, and EWMA(Exponenrtially weighted moving average')'''

"window function works on performing the commanded opertion on the desired row with a commanded range or window.\ntypes of window function are: Rolling function, Expanding function, and EWMA(Exponenrtially weighted moving average')"

In [96]:
'''Q7. Write a code to print only the current month and year at the time of answering this question.'''

'Q7. Write a code to print only the current month and year at the time of answering this question.'

In [97]:
from datetime import datetime
time=datetime.now()

In [98]:
time_year=time.year

In [99]:
time_month=time.month

In [100]:
print(f"Year at the time of answering this question:", time_year, "Month at the time of answering this question:", time_month)

Year at the time of answering this question: 2023 Month at the time of answering this question: 11

In [101]:
'''Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.'''

'Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and\ncalculates the difference between them in days, hours, and minutes using Pandas time delta. The\nprogram should prompt the user to enter the dates and display the result.'

In [105]:
def input_date(date1, date2) :
    try :
        date_diff=abs(date1-date2)
        return date_diff
    except ValueError :
        return "Kindly enter the date 1 and date2 in YYY-MM-DD format"

In [106]:
date1=pd.to_datetime(input("Enter the 1st date in YYYY-MM-DD format"))
date2=pd.to_datetime(input("Enter the 1st date in YYYY-MM-DD format"))
input_date(date1,date2)

Enter the 1st date in YYYY-MM-DD format 2023-04-23
Enter the 1st date in YYYY-MM-DD format 2022-07-22

Timedelta('275 days 00:00:00')

In [107]:
'''Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.'''

'Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified\ncolumn to a categorical data type. The program should prompt the user to enter the file path, column\nname, and category order, and then display the sorted data.'

In [20]:
import pandas as pd
def categorical_data():
   
    file_path = input("Enter the file path for the CSV file: ")
    column_name = input("Enter the column name to convert to categorical data type: ")
    categories = input("Enter the category order : ").split(',')

    
    try:
        data = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return

  
    data[column_name] = pd.Categorical(data[column_name], categories=categories, ordered=True)

   
    sorted_data = data.sort_values(by=column_name)
    print("\nSorted Data:")
    print(sorted_data)

In [9]:
d2=pd.read_csv("https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/people/people-100.csv")

In [12]:
'''Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.'''

'Q10. Write a Python program that reads a CSV file containing sales data for different products and\nvisualizes the data using a stacked bar chart to show the sales of each product category over time. The\nprogram should prompt the user to enter the file path and display the chart.'

In [13]:
pip install pandas matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (3.6.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (22.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
import matplotlib.pyplot as plt


def visualize_sales_data():
    # Prompt user for file path
    file_path = input("Enter the file path for the CSV file: ")

    # Read CSV file
    try:
        data = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return

  
    if 'Date' in data.columns:
        data['Date'] = pd.to_datetime(data['Date'])
        data.set_index('Date', inplace=True)

    
    plt.figure(figsize=(10, 6))
    data.plot(kind='bar', stacked=True)
    plt.title('Sales of Each Product Category Over Time')
    plt.xlabel('Time')
    plt.ylabel('Sales')
    plt.legend(title='Product Categories')
    plt.tight_layout()
    plt.show()


visualize_sales_data()

Enter the file path for the CSV file:  hhh

File not found. Please enter a valid file path.

In [15]:
'''Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.'''

'Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write\na Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and\ndisplays the results in a table.'

In [18]:
# assuming that we have the required file
def calculate_data(n):
    # Read CSV file into a DataFrame
    try:
        n= pd.read_csv(n)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return

    
    mean_scorecard = n['Test Score'].mean()
    median_scorecard =n['Test Score'].median()
    mode_scorecard = n['Test Score'].mode()

    data_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Test Score': [mean_scorecard, median_scorecard, mode_scorecard]
    })

    print(f"Statistics of Test Scores:",data_table)
    


file_path = 'path_to_your_file.csv'